.red {
  color: red;
}

.green {
  color: green;
}

/* Landing page */
.landing-page {
  margin-top: 25vh;
  text-align: center;
}

.landing-page .row {
  margin-bottom: 30px;
}

.landing-page h2 {
  font-style: italic;
  margin: 0;
}

/* transaction form */
.transaction-form .buttons {
  margin-top: 10px;
}
